### TF- IDF

kelimelerin belgeler içinde ne kadar önemli olduğunu belirlemek için kullanılır.

TF - Terim frekansı : bir kelimenin bir dökümandaki frekansını ölçer

IDF - Ters döküman frekansı : bir kelimenin tüm belgelerdeki yaygınlığını ölçer.
Yaygın kelimeler(stopwords) düşük IDF değerine sahip olur.

Bir kelimenin bir dökümandaki genel önemi = TF X IDF

In [83]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

 örnek belge oluştur

In [85]:
documents = [ 
    "köpek çok tatlı bir hayvandır",
    "köpek ve kuşlar çok tatlı hayvanlardır.",
    "inekler süt üretirler"
             ]

vektorizer tanımla

In [87]:
tfidf_vectorizer = TfidfVectorizer()

metinleri sayısal hale çevir

In [89]:
X = tfidf_vectorizer.fit_transform(documents)

In [90]:
X

<3x11 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

kelime kümesini incele

In [92]:
feature_names = tfidf_vectorizer.get_feature_names_out()

In [93]:
feature_names

array(['bir', 'hayvandır', 'hayvanlardır', 'inekler', 'kuşlar', 'köpek',
       'süt', 'tatlı', 've', 'çok', 'üretirler'], dtype=object)

vektör temsilini incele

In [95]:
vektor_temsili = X.toarray()

In [96]:
vektor_temsili

array([[0.51741994, 0.51741994, 0.        , 0.        , 0.        ,
        0.3935112 , 0.        , 0.3935112 , 0.        , 0.3935112 ,
        0.        ],
       [0.        , 0.        , 0.45954803, 0.        , 0.45954803,
        0.34949812, 0.        , 0.34949812, 0.45954803, 0.34949812,
        0.        ],
       [0.        , 0.        , 0.        , 0.57735027, 0.        ,
        0.        , 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027]])

In [97]:
df_tfidf = pd.DataFrame(vektor_temsili, columns = feature_names)

In [98]:
df_tfidf

,bir,hayvandır,hayvanlardır,inekler,kuşlar,köpek,süt,tatlı,ve,çok,üretirler
0,0.51742,0.51742,0.000000,0.00000,0.000000,0.393511,0.00000,0.393511,0.000000,0.393511,0.00000
1,0.00000,0.00000,0.459548,0.00000,0.459548,0.349498,0.00000,0.349498,0.459548,0.349498,0.00000
2,0.00000,0.00000,0.000000,0.57735,0.000000,0.000000,0.57735,0.000000,0.000000,0.000000,0.57735

ortalama tf idf değerlerine bakalım

In [100]:
tf_idf = df_tfidf.mean(axis = 0)

In [107]:
tf_idf

bir             0.172473
hayvandır       0.172473
hayvanlardır    0.153183
inekler         0.192450
kuşlar          0.153183
köpek           0.247670
süt             0.192450
tatlı           0.247670
ve              0.153183
çok             0.247670
üretirler       0.192450
dtype: float64